<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/styles/style.css" />
    <title>App</title>
  </head>
  <body>
    <div class="root">
      <header>
        <img class="logo" src="static/assets/logo.svg" alt="logo" />
        <ul class="navigation">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Features</a>
          </li>
          <li>
            <a href="#">Benefits</a>
          </li>
          <li>
            <a href="#">Pricing</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
        <div class="auth">
          <button class="login">Login</button>
          <button class="get_started">Get started</button>
        </div>
        <div class="menu">
          <img src="static/assets/menu.svg" alt="menu" />
        </div>
      </header>
      <div class="menu_wrapper">
        <img
          class="close_menu"
          src="static/assets/close.svg"
          alt="close menu"
        />
        <ul class="navigation">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Features</a>
          </li>
          <li>
            <a href="#">Benefits</a>
          </li>
          <li>
            <a href="#">Pricing</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="video_sales_block">
        <img class="waves" src="static/assets/waves.svg" alt="waves" />
        <img class="waves_r" src="static/assets/waves.svg" alt="waves" />
        <div class="container">
          <h1>
            Maximize Your Video <br />Ad ROI with <br />
            SceneSwitcher.io
          </h1>
          <p>
            Are you ready to squeeze every last drop of profit from your winning
            video sales letters (VSLs)? Introducing SceneSwitcher.io, the
            revolutionary software that allows you to effortlessly change scenes
            in your VSLs, giving your ads a fresh look and feel. By creating
            multiple variations of your winning ad, you can reach a wider
            audience and resonate with different prospects. Your target market
            will perceive each variation as a new ad, reducing ad fatigue and
            increasing engagement. With SceneSwitcher.io, you can easily test
            various scenes to find the perfect combination that maximizes your
            conversions and skyrockets your profits, all without the need for
            expensive video editors.
          </p>
          <button class="get_started">Get started</button>
        </div>
      </div>

      <div class="demonstration_container">
        <div class="video_demonstration">
          <h1>How It Works: A Step-by-Step Video Demonstration</h1>
          <h4>
            Curious about how SceneSwitcher.io works? Watch our quick video
            demonstration to see just how easy it is to optimize your VSLs:
          </h4>
          <div class="video_wrapper">
            <img src="static/assets/play.svg" alt="play" />
          </div>
          <p>As you can see, with SceneSwitcher.io, you can:</p>
          <div class="steps">
            <div class="step">
              <h1>01</h1>
              <h2>Upload</h2>
              <p>
                Upload your VSL to our user-friendly platform <br />
                <span style="color: transparent">.</span>
              </p>
            </div>
            <div class="step">
              <h1>02</h1>
              <h2>Add new visual</h2>
              <p>
                Hit Shift + Click on the scene and upload <br />
                your new visual
              </p>
            </div>
            <div class="step">
              <h1>03</h1>
              <h2>Process</h2>
              <p>Click "Process" and let SceneSwitcher.io work its magic</p>
            </div>
          </div>
        </div>
      </div>
      <div class="scene_container">
        <div class="scene_block">
          <h1>Why SceneSwitcher.io is Your Key to Success:</h1>
          <div class="container">
            <div class="row">
              <div class="box">
                <div class="icon">
                  <img src="static/assets/persons.svg" alt="persons" />
                </div>
                <h2>Combat Ad Fatigue</h2>
                <p>
                  Your audience has seen it all before. The same ads, the same
                  visuals, the same message. With SceneSwitcher.io, you can
                  easily swap out scenes in your VSLs, keeping your content
                  fresh and captivating. Say goodbye to skipped ads and hello to
                  higher engagement!
                </p>
              </div>
              <div class="box">
                <div class="icon">
                  <img src="static/assets/message.svg" alt="message" />
                </div>
                <h2>Reinforce Your Message</h2>
                <p>
                  Different scenes, same powerful message. Our software allows
                  you to present your core message in various ways, reinforcing
                  your point without sounding repetitive. Keep your viewers
                  hooked and drive your message home!
                </p>
              </div>
            </div>
            <div class="row">
              <div class="box">
                <div class="icon">
                  <img
                    src="static/assets/optimization.svg"
                    alt="optimization"
                  />
                </div>
                <h2>Continuous Optimization</h2>
                <p>
                  Even the most profitable VSLs have room for improvement.
                  SceneSwitcher.io empowers you to test different visuals,
                  messaging, and pacing with ease. Constantly tweak and refine
                  your VSLs to achieve the highest possible conversion rates!
                </p>
              </div>
              <div class="box">
                <div class="icon">
                  <img src="static/assets/stronger.svg" alt="stronger" />
                </div>
                <h2>Evoke Stronger Emotions</h2>
                <p>
                  The right visuals can make all the difference. With our
                  scene-switching capabilities, you can find the perfect
                  combination of images and pacing to evoke powerful emotions in
                  your audience. Tug at their heartstrings and compel them to
                  take action!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="switcher_container">
        <div class="scene_switcher">
          <h1>The Power Of SceneSwitcher.io</h1>
          <p>
            See how we turned this fatigued ad from barely breaking even to a
            2-3 ROAS by simply changing the scenes, while keeping the voice-over
            and script exactly the same.
          </p>
          <div class="original_video_container">
            <h1>Original video</h1>
            <!--                <img src="static/assets/video_image.png" alt="original type">-->
            <video width="320" height="240" controls>
              <source
                src="static/assets/Video/Example%201.mp4"
                type="video/mp4"
              />
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="video_wrapper">
            <div class="card">
              <h2>Variation 1</h2>
              <video width="320" height="240" controls>
                <source
                  src="static/assets/Video/Example%202.mp4"
                  type="video/mp4"
                />
                Your browser does not support the video tag.
              </video>
              <!--                    <img src="static/assets/video_image.png" alt="Variation 1">-->
            </div>
            <div class="card">
              <h2>Variation 2</h2>
              <!--                    <img src="static/assets/video_image.png" alt="Variation 2">-->
              <video width="320" height="240" controls>
                <source
                  src="static/assets/Video/Example%203.mp4"
                  type="video/mp4"
                />
                Your browser does not support the video tag.
              </video>
            </div>
            <div class="card">
              <h2>Variation 3</h2>
              <!--                    <img src="static/assets/video_image.png" alt="Variation 3">-->
              <video width="320" height="240" controls>
                <source
                  src="static/assets/Video/Example%204.mp4"
                  type="video/mp4"
                />
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>
      </div>
      <div class="pricing_container">
        <div class="pricing">
          <h1>Flexible Pricing to Suit Your Needs</h1>
          <h2>
            We offer three simple packages to ensure you get the most out of
            <br />
            SceneSwitcher.io
          </h2>
          <div class="price_container">
            <div class="card">
              <div class="icon">
                <img src="static/assets/person.svg" alt="person" />
              </div>
              <h4>Basic</h4>
              <div class="price_info">
                <h1>$124</h1>
                <p>per month</p>
              </div>
              <h5>$4.96/video</h5>
              <div class="video_per_month">
                <img src="static/assets/check_dark.svg" alt="check" />
                <p>25 videos per month</p>
              </div>
              <button class="get_started">
                Get started
                <img src="static/assets/arrow_right_dark.svg" alt="arrow" />
              </button>
            </div>
            <div class="card">
              <div class="info_message">
                <p>Most popular!</p>
              </div>
              <div class="icon">
                <img src="static/assets/persons.svg" alt="persons" />
              </div>
              <h4>Professional</h4>
              <div class="price_info">
                <h1>$197</h1>
                <p>per month</p>
              </div>
              <h5>$3.94/video</h5>
              <div class="video_per_month">
                <img src="static/assets/check_light.svg" alt="check" />
                <p>50 videos per month</p>
              </div>
              <button class="get_started">
                Get started
                <img src="static/assets/arrow_right_light.svg" alt="arrow" />
              </button>
            </div>
            <div class="card">
              <div class="icon">
                <img src="static/assets/building.svg" alt="building" />
              </div>
              <h4>Premium</h4>
              <div class="price_info">
                <h1>$347</h1>
                <p>per month</p>
              </div>
              <h5>$3.47/video</h5>
              <div class="video_per_month">
                <img src="static/assets/check_dark.svg" alt="check" />
                <p>100 videos per month</p>
              </div>
              <button class="get_started">
                Get started
                <img src="static/assets/arrow_right_dark.svg" alt="arrow" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="contact">
        <h1>Contact Us</h1>
        <h2>We’d love to hear from you. Please fill out this form.</h2>
        <div class="form">
          <div class="wrapper">
            <label for="firstName">First name</label>
            <input id="firstName" type="text" placeholder="First name" />
          </div>
          <div class="wrapper">
            <label for="lastName">Last name</label>
            <input id="lastName" type="text" placeholder="Last name" />
          </div>
          <div class="wrapper">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="you@company.com" />
          </div>

          <div class="wrapper">
            <label for="message">Message</label>
            <textarea id="message" placeholder=" "></textarea>
          </div>
          <button>Send message</button>
        </div>
      </div>
      <div class="join_container">
        <div class="join_block">
          <h1>Join the SceneSwitcher.io Revolution</h1>
          <p>
            Don't let stale ads and high editing costs hold your business back.
            Join the countless marketers
            <br />
            and entrepreneurs who have already discovered the power of
            SceneSwitcher.io. Optimize your <br />
            VSLs, engage your audience, and take your conversions to new
            heights!
          </p>
          <div class="info_block">
            <p>
              Sign up now and experience the SceneSwitcher.io <br />
              difference for yourself. Your ROI will thank you!
            </p>
            <button class="get_started">
              Get started
              <img src="static/assets/arrow_right_dark.svg" alt="arrow" />
            </button>
          </div>
        </div>
      </div>
      <footer>
        <div class="wrapper">
          <img src="static/assets/logo.svg" alt="logo" />
          <ul class="navigation">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Features</a>
            </li>
            <li>
              <a href="#">Benefits</a>
            </li>
            <li>
              <a href="#">Pricing</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
          <ul class="socials">
            <li>
              <img src="static/assets/facebook.svg" alt="facebook" />
            </li>
            <li>
              <img src="static/assets/linkedin.svg" alt="linkedin" />
            </li>
            <li>
              <img src="static/assets/twitter.svg" alt="twitter" />
            </li>
          </ul>
        </div>
        <hr />
        <h4>© 2021 SceneSwitcher. All rights reserved.</h4>
      </footer>
    </div>
    <script type="module" src="static/js/main.js"></script>
  </body>
</html>
